<h2>@ViewBag.Title</h2>
<form method="post">
    <label>Your Name:</label>
    <br />
    <input />
    <br />
    <label>Email:</label>
    <input type="email" />
    <br />
    <label>Subject:</label>
    <input type="text" />
    <br />
    <label>Message:</label>
    <br />
    <textarea rows="4"></textarea>
    <br />
    <input type="submit" value="Send Message" />
</form>
